<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">{{title}}</h1>
      <p class="control-label">
        <span [class]="getClass(enteredText[i], letter)" *ngFor="let letter of randomText.split('');let i = index;">{{letter}}</span>
      </p>
      <div class="field">
        <input class="input" (input)="onInput($event.target.value)" placeholder="Type Here"/>
      </div>

        <h1 *ngIf="success" style="color: mediumseagreen; font-weight: bold;">SUCCESS!</h1>

    </div>
  </div>
</div>